
.profile-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    width: 1000px;
    margin: 80px auto;
    padding-top: 20px;
}
.modal-content
{
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 100%;
    height: 91%;
    position: absolute;
    background: rgba(50, 50, 50, 0.5);
}

.form-modal
{
    background: #fff;
    min-height: 180px;
    min-width: 400px;
    border-radius:5px;
}
.form-modal #close
{
    cursor: pointer;
    background: black;
    border-radius: 3px;
    color:#fff;
    display: flex;
    font-size: 20px;
    margin: 10px 10px 10px auto;
    width: 20px;
    height: 23px;
    line-height: 20px;   
    justify-content: center;
    align-content: flex-end;
    transition:0.5s;
    border: 1px solid #000;
}
.form-modal #close:hover
{
    background: #fff;
    color: #000;
    font-weight: 600;
}
.form-modal input
{
    margin: 0 50px;
}

.form-modal .MuiDivider-root
{
    margin: 10px 10px 10px auto;
    margin: 10px;
}
.form-modal button
{
    padding: 10px 15px;
    border:1px solid #fff;
    background: #779539;
    border-radius: 8px;
    margin: 5px 3px;
    cursor: pointer;
    transition:0.5s;
    float: right;
    margin-right: 20px;
}
.form-modal button:hover
{
    opacity: 0.6;
}
#cancel
{
    background-color: rgba(250, 60, 60, 0.7);
    transition: .6s;
}
#cancel:hover
{
    background-color: rgba(250, 40, 40, 0.8);
}
#user_img
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    margin: 10px auto;
}
#message_img
{
    padding: 0 10px;
    margin: 50px auto;
    margin-bottom: 10px;
    display: flex;
    word-break: normal;
    align-content: center;
    justify-content: center;
}
.container-img, .todo-profile .MuiPaper-root
{
    width: 200px;
    margin: 0 auto;
    height: 200px;
    border: none;
}
.container-img
{
    background: rgba(196, 196, 196, 0.6);
    border-radius: 100px;
    display: flex;
    align-items: center;
}
#user_icon
{
    cursor: pointer;
    transition:1s;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
#user_icon:hover
{
    background-color: rgba(50, 50, 50, 0.5);
    border: 1px solid rgba(50, 50, 50, 0.5);
    border-radius: 5px;
}
.user_name .MuiTypography-h5
{
    clear: both;
    margin: 0 auto;
    margin-bottom: 64px;
    text-align: center;
    background: none;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 55px;
    font-family: 'Ubuntu', sans-serif;
    max-width: 350px;
}
.form-profile
{
    display: flex;
    flex-direction: column;
}
.form-profile label
{
    margin: 0 auto;
}
.form-profile input
{
    font-size: 1.5em;
    width: 800px;
    height: 50px;
    margin-bottom: 55px;
    border-radius: 5px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.form-profile button
{
    width: 300px;
    height: 50px;
    background: #779539;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0 auto;
    font-size: 1em;
    color: #ffffff;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    opacity: 1;
}
.form-profile button:hover
{
    opacity: 0.6;
}
.form-profile .eye-icon
{
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    margin-right: 10px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}
#input_name
{
    background: url("../../assets/icons/profile_user.png") no-repeat 21px 12px;
}
#input_mail
{
    background: url("../../assets/icons/profile_mail.png") no-repeat 21px 12px;
}
#input_phone
{
    background: url("../../assets/icons/profile_phone.png") no-repeat 21px 12px;
}
#input_pass
{
    background: url("../../assets/icons/profile_pass.png") no-repeat 21px 12px;
}
#input_name, #input_mail, #input_phone, #input_pass
{
    background-color: #FFFFFF;
}
#message
{
    margin: 20px auto;
    margin-bottom: 0;
}
.MuiButtonBase-root:hover,.user_icon
{
    position: inherit;
}
@media screen and (max-width:1366px)
{
    .container-img, .todo-profile .MuiPaper-root
    {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
    .profile-container
    {
        width: 800px;
        margin-top: 30px;
    }
    .container-img
    {
        border-radius: 50px;   
    }
    .user_name .MuiTypography-h5
    {
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 2em;
        line-height: 45px;
    }
    #user_icon
    {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
    .form-profile
    {
        margin-bottom: 50px;
    }
    .form-profile input
    {
        font-size: 1em;
        width: 550px;
        height: 35px;
        margin-bottom: 45px;
    }
    .form-profile button
    {
        width: 250px;
        height: 35px;
    }
    #input_name
    {
        background: url("../../assets/icons/user.png") no-repeat 21px 8px;
    }
    #input_mail
    {
        background: url("../../assets/icons/mail.png") no-repeat 21px 8px;
    }
    #input_phone
    {
        background: url("../../assets/icons/phone.png") no-repeat 21px 8px;
    }
    #input_pass
    {
        background: url("../../assets/icons/password.png") no-repeat 21px 8px;
    }
    #input_name, #input_mail, #input_phone, #input_pass
    {
        background-color: #FFFFFF;
    }
    .modal-content
    {
        height: 90%;   
    }
}
@media screen and (max-width:1024px)
{
    .profile-container
    {
        width: 750px;
    }
    
    .user_name .MuiTypography-h5
    {
        margin-bottom: 30px;
        font-size: 1.8em;
    }
}
@media screen and (max-width:768px)
{
    .container-img, .todo-profile .MuiPaper-root
    {
        width: 120px;
        height: 120px;
    }
    .profile-container
    {
        width: 650px;
    }
    
    #user_icon
    {
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }
    .user_name .MuiTypography-h5
    {
        font-size: 1.6em;
    }
}
@media screen and (max-width:650px)
{
    .profile-container
    {
        width: 400px;
    }
    .form-profile input
    {
        font-size: 1em;
        width: 350px;
        height: 35px;
        margin-bottom: 45px;
    }
    .form-profile button
    {
        width: 200px;
        height: 35px;
    }
}
@media screen and (max-width:390px)
{
    .profile-container
    {
        width: 350px;
    }
    
    .form-profile input
    {
        font-size: 1em;
        width: 300px;
        height: 35px;
        margin-bottom: 45px;
    }
    .form-profile button
    {
        width: 200px;
        height: 35px;
    }
    .form-modal
    {
        background: #fff;
        min-height: 180px;
        min-width: 300px;
        border-radius:5px;
    }
    
}
@media screen and (max-width:350px)
{
    .profile-container
    {
        padding-top: 40px;
        padding-bottom: 0;
        width: 300px;
    }
    
    .form-profile input
    {
        font-size: 1em;
        width: 260px;
        height: 35px;
        margin-bottom: 45px;
    }
    .form-profile button
    {
        width: 180px;
        height: 35px;
    }
    #input_name
    {
        background: url("../../assets/icons/user.png") no-repeat 10px 8px;
    }
    #input_mail
    {
        background: url("../../assets/icons/mail.png") no-repeat 10px 8px;
    }
    #input_phone
    {
        background: url("../../assets/icons/phone.png") no-repeat 10px 8px;
    }
    #input_pass
    {
        background: url("../../assets/icons/password.png") no-repeat 10px 8px;
    }
    #input_name, #input_mail, #input_phone, #input_pass
    {
        background-color: #FFFFFF;
    }
    .form-modal
    {
        max-width: 300px;   
    }
    .form-modal input
    {
        margin: 0 20px;
    }
}