.update_expense
{
    display: flex;
    align-content: center;
    width: 500px;
    border-radius: 8px;
    padding: 3em 10px;
    margin: 150px auto;
    background:rgba(246, 232, 232, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.update_expense form 
{
    margin: 0 auto;
    text-align: center;
}
.update_expense label
{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    font-size: 1.7em;
    margin-bottom: 10px;
}
.update_expense input
{
    background: #ffffff;
    width: 420px;
    height: 44px;
    margin-bottom: 30px;
    border: none;
    box-sizing: border-box;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
}
.update_expense button
{
    font-size: 1.3em;
    width: 150px;
    height: 50px;
    background: #779539;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #ffffff;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    margin:10px;
}
.update_expense button[type=submit]
{
    background: #779539;
    transition: .6s;
}
.update_expense button[type=button]
{
    background-color: rgba(250, 60, 60, 0.7);
    transition: .6s;
}
.update_expense button:hover
{
    opacity: 0.6;
}
.update_expense #message
{
    margin-top: 20px;
}


@media screen and (max-width:1366px)
{
    .update_expense
    {
        width: 360px;  
        margin: 35px auto;
        margin-bottom: 100px; 
    }
    .update_expense label
    {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .update_expense input
    {
        width: 220px;
        height: 34px;
        margin-bottom: 20px;
        font-size: 1em;
    }
    .update_expense button
    {
        width: 100px;
        height: 34px;
        font-size: 1em;
    }
    .update_expense button[type=submit]
    {
        background: rgba(80,180,80,1);
    }
    .update_expense button[type=button]
    {
        background-color: rgba(250, 60, 60, 0.7);
    }
    .update_expense #message
    {
        margin-top: 20px;
    }
}
@media screen and (max-width:768px)
{
    .update_expense
    {
        max-width: 80%;
    }
    .update_expense input[type=date]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
    }
    .update_expense input[type=date]::-webkit-calendar-picker-indicator {
        -webkit-appearance: none;
        display: none;
    }
}