body {
    margin-bottom: 30px;
    margin-top: 30px;
}
header{
	margin-bottom: 20px !important;
}
html {
  	position: relative;
	min-height: 100%;
}
head
{
	display: block;
}
.navbar-inverse
{
	background:black;
}
.navbar-inverse .text-right
{
	margin-left: 60em;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav li a:hover
{
	color: lightblue;
	font-style: italic;
	font-weight: 700;
}
.container-fluid
{
	color:black;
	margin-left: 50px;
}
.item
{
	max-height: 570px;
	
}
.carousel-caption
{
	background: white;
	color:black;
	opacity: 0.8;
	max-width: 550px;
	border-radius: 15px;
	margin-bottom: 60px;
	margin-left:auto;
	margin-right: auto;
}
.carousel-indicators li
{
	border: 1px solid black;
	width: 20px;
	height: 20px;
}

.carousel-indicators .active
{
	background: black;
	width: 20px;
	height: 20px;
	opacity: 0.8;
}
.cadastro
{
	background: lightblue;
	height: 450px;
	max-width: 400px;
	border-radius: 10px;
	opacity: 0.8;
	padding: 13px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	clear-after: both;
}
.cadastro_container
{
	font-size: 20px;
	margin: 40px;
}
.cadastro_container form
{
	margin-top: 10px;
}
.cadastro_container form label
{
	margin-bottom: 20px;
}
.cadastro_container form input,.cadastro_container textarea
{
	border-radius: 4px;
	text-align: center;
	padding: 5px;
}
.cadastro_container form input[type=submit]
{
	margin-top: 10px;
	font-weight: 300;
	padding: 6px 8px 6px 8px;
}
/*DEFAULT LOAD*/
.ajax_load {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9;
}

.ajax_load_box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
	border: 16px solid #e3e3e3;
	border-top: 16px solid #1dd1a1;
	border-radius: 50%;
	margin: auto;
	width: 80px;
	height: 80px;
	animation-name: spin;
	animation-duration: 1.2s;
	-webkit-animation: spin 1.2s linear infinite;
	-o-animation: spin 1.2s linear infinite;
	animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
	margin-top: 15px;
	font-weight: bold;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
.logado_home
{
	min-height: 400px;
}
.logado_home .col-lg-12
{
	margin-top: 50px;
	background: navajowhite;
	border: 1px solid yellow;
	height: 100px;
	border-radius: 10px;
}



.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height:50px;
	line-height: 50px;
	color: #FFF;
	background:black;
}









@media screen and (max-width: 1024px){
	.container-fluid
	{
		margin-left: 35%;
	}
	#myCarousel
	{
		margin-top: 250px;

	}
	.navbar-inverse .text-right
	{
		margin-left: 34em;
	}

}
@media screen and (max-width: 768px){
	body
	{
		margin-top: 100px;
		margin-bottom: 0;
	}
	.container-fluid
	{
		margin-left: 0;
	}
	.navbar-inverse .text-right
	{
		margin-left: 24em;
	}
	#myCarousel
	{
		margin-top: 100px;
	}
	.cadastro
	{
		margin-left: 28%;

	}
}
@media screen and (max-width: 425px){

	.carousel-caption,h3, h4
	{
		margin-top: 0;
		font-size: 13px;
		margin-bottom: 10px;
		padding: 0;
	}

	.item
	{
		max-height: 100%;
	}
	.navbar-inverse .text-right
	{
		margin-left: 0;
	}
	.navbar-brand
	{
		line-height: 25px;
	}
	.container-fluid
	{
		margin-bottom: 70px;
	}
	.carousel-indicators li
	{
		width: 12px;
		height: 12px;
	}
	.carousel-indicators .active
	{
		width: 12px;
		height: 12px;
	}
	.cadastro
	{
		margin-left: 3%;
	}
	.logado_home
	{
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 375px) {
	.cadastro
	{
		margin-left: 10%;
		width: 300px;
		height: 400px;
		margin-top: 50px;
	}
	.cadastro_container
	{
		font-size: 15px;
	}
	.cadastro_container textarea
	{
		margin-left: 5px;
	}
}
@media screen and (max-width: 320px) {
	body
	{
		margin-top: 30px;
	}
	.cadastro
	{
		margin-left: 3%;
		width: 300px;
		height: 450px;
	}
	#myCarousel
	{
		margin-top: 50px;
	}

}