.home-container
{
    margin-bottom: 65px;
}
.presentation
{
    background: rgba(196, 196, 196, 0.7);
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 900px;
    height: 450px;
    margin: 150px auto;
    margin-left: 77px; 
    color: #ffffff;
    padding: 25px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentation .title
{
    font-size: 4.5em;
    line-height: 83px;
    display: flex;
    align-items: center;
    margin-left: 45px;
}
.presentation .subtitle
{
    margin-top: 50px;
    font-weight: 500;
    font-size: 2.18em;
    line-height: 40px;
    display: flex;
    align-items: center;
    margin-left: 45px;
}
.carousel .carousel-status
{
    font-size: 1em;
}
.carousel .slide .legend
{
    max-height: 100%;
    opacity: 0.8;
    left: auto;
    width: 50%;
    margin: 0 auto;
    position: relative;
    font-size: 1em;
}
.carousel .control-dots .dot
{
    width: 15px;
    height: 15px;
}
.control-dots:hover
{
    background-color: transparent;
}
.carousel.carousel-slider .control-arrow
{
    background: rgba(0,0,0,0.6);
}
@media screen and (max-width:1366px)
{
    .presentation
    {
        width: 700px;
        height: 400px;
        padding: 10px;
        margin: 90px auto;
        margin-left: 77px; 
    }
    .presentation .title
    {
        line-height: 60px;
        font-size: 3.5em;
        margin-left: 30px;
    }
    .presentation .subtitle
    {
        margin-top: 30px;
        font-size: 1.8em;
        margin-left: 30px;
    }
}

@media screen and (max-width:768px)
{
    .presentation
    {   
        width: 600px;
        margin: 100px auto; 
        background: rgba(196, 196, 196, 0.8);
        align-items: stretch;
        padding-left: 30px;
        padding-right: 0;
    }
    .presentation .title
    {
        font-size: 3em;
        margin-left: 0;
    }
    .presentation .subtitle
    {
        margin-top: 20px;
        font-size: 1.3em;
        margin-left: 0;
    }
}


@media screen and (max-width:425px)
{
    .presentation
    {
        max-height: 300px;
    }
    .presentation .title
    {
        font-size: 2em;
        line-height: 30px;
    }
    .presentation .subtitle
    {
        text-align: justify;
        font-size: 1em;
        line-height: 25px;
    }
    .presentation
    {
        width: 375px;
        max-height: 220px;
        padding: 10px;
        margin: 100px auto;
    }
    .carousel .slide .legend
    {
        width: 90%;
    }
    .carousel .control-dots .dot
    {
        width: 10px;
        height: 10px;
    }
}
@media screen and (max-width:375px)
{
    .presentation
    {
        width: 330px;
        min-height: 300px;
    }
}
@media screen and (max-width:320px)
{
    .presentation
    {
        width: 280px;
        margin: 100px auto;
    }
    .presentation .title
    {
        font-size: 1.7em;
    }
    .presentation .subtitle
    {
        font-size: 1em;
        line-height: 20px;
    }
}