.responsive-menu
{
    display: none;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 45px;
}
.MuiList-root,.MuiList-root:hover
{
    background: black;
}
.MuiButton-label {
    color: white;

}
.header
{
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: sans-serif;
}
.nav-link
{
    display: flex;   
    padding: 10px 15px;
}

.nav-link a,.link-responsive
{
    text-decoration: none;
    color:#9d9d9d;
    margin: auto 20px;
    font-size: 1.2em;
}
.link-responsive
{
    margin: auto;
}

.nav-link a:first-child
{
    margin-right: auto;
}
.flex-start
{
    justify-content: flex-start;
}
.nav-link a:hover,#link
{
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(100, 250, 100, 1);
    font-style: italic;
}


@media screen and (max-width:425px)
{
    .header
    {
        margin-bottom: 0;
        height: 50px;
    }
    .nav-link
    {
        display: none;
    }
    .responsive-menu
    {
        padding: 3px 2px;
        display: flex;
        
    }
    .MuiButton-label
    {
        padding: 3px;
        border: 1px solid white;
        border-radius: 5px;
    }
}