.todo-logged
{
    background: #00CCCC;
    min-height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("../../assets/images/fundo_expenses.jpg");
    background-size: cover;
    background-attachment: fixed;
    max-width: 1440px;
}
.logged-container
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px 100px;
}
::-webkit-scrollbar {
    width: .5em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
.user_details #todo_card
{
    background:rgba(246, 232, 232, 0.8);
    border-radius: 5px;
    text-align: center;
    box-shadow: none;
    width: 400px;
    margin-right: 40px;
}
.account_details
{
    background:rgba(246, 232, 232, 0.8);  
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.account_details
{
    min-width: 60%;
    width: auto;
    margin-bottom: 50px;
}
.expense
{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: center;
    margin: 10px 0;
    font-size: 1.3em;
}
.expense div
{
    margin: 10px 50px;
}
.expense .MuiDivider-root
{
    color: #000000;
    height: 2px;
    margin: 20px 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: none;
}
.account_details div div div div div div:last-child .expense .MuiDivider-root
{
    display: none;
    background-color: black;
    opacity: 0.5;
}
#edit, #delete
{
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    transition: .5s;
}
#edit:hover, #delete:hover
{
    opacity: 0.5;
}
#todo_card
{
    padding-top: 10px;
}
#todo_card .MuiButtonBase-root:hover
{
    position: relative;
}
#todo_card #user_icon 
{
    width: 130px;
    height: 130px;
    margin: 10px auto;
    position: inherit;
}
.title
{
    font-size: 1.3em;
}
.val
{
    font-size: 1.3em;
    font-weight: 600;
    margin: 10px auto;
}
.create_account p
{
    font-size: 1.5em;
    margin: 20px;
}
.create_account form
{
    display: flex;
    flex-direction: column;
}
.create_account h2,.form-expense h2
{
    margin: 24px;
}
.form-expense
{
    font-size: 1.5em;
}
.form-expense input, .create_account input
{
    font-size: .8em;
    margin: 10px auto;
    width: 250px;
    height: 20px;
    padding: 5px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
}

.form-expense button, .create_account button
{
    font-size: .8em;
    width: 100px;
    height: 34px;
    background: #779539;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 10px auto;
    font-weight: 500;
    line-height: 14px;
    color: #ffffff;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
.create_account input
{
    margin: 5px auto;
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}
.create_account button
{
    margin-top: 20px;
    width: 100px;
}
.form-expense button:hover, .create_account button:hover
{
    background-color: rgb(100, 230, 110);
}

.date-filter
{
    margin-top: 10px;
}

.date-filter input
{
    margin: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}
.date-filter span
{
    font-size: 1.2em;
}
.date-filter div
{
    font-size: 1.5em;
    margin-top: 10px;
}
.date-filter .total-value
{
    margin: 20px auto;
    margin-bottom: 25px;
    padding: 3px 5px;
    font-size: .8em;
}
#before-expenses
{
    margin-bottom: 25px;
}
#non_account
{
    width: 600px;
    margin: 50px;
    font-size: 1.2em;
}
@media screen and (max-width:1366px)
{
    .logged-container
    {
        margin: 30px 60px;
    }
    #todo_card #user_icon
    {
        width: 100px;
        height: 100px;
    }
    .create_account p
    {
        font-size: 1.2em;
        margin: 20px;
    }
    .form-expense
    {
        font-size: 1em;
    }
    .form-expense button
    {
        margin-bottom: 30px;
        width: 100px;
    }
    .form-expense input, .create_account input
    {
        font-size: .8em;
        margin: 5px auto;
        width: 200px;
        height: 20px;
    }
    #non_account
    {
        font-size: 1em;
    }
    .date-filter
    {
        margin-top: 30px;
    }
    .date-filter div
    {
        font-size: 1.3em;
    }
    .date-filter #value
    {
        font-size: 1.5em;
    }
    .expense
    {
        font-size: 1em;
    }
    .expense .MuiDivider-root
    {
        height: 1px;
    }
}
@media screen and (max-width:1024px)
{
    .user_details #todo_card
    {
        width: 300px;
    }
    .account_details
    {
        width: 600px;
    }
    #non_account
    {
        width: 500px;
        margin: 50px;
        font-size: 1em;
    }
    .expense div
    {
        margin: 10px 25px;
    }
}


@media screen and (max-width:768px)
{
    .logged-container
    {
        flex-direction: column;
        margin: 10px auto;
    }
    .user_details #todo_card
    {
        width: 620px;
    }   
    .user_details,.account_details,.expense,.expense div
    {
        margin: 10px 0;
    }
    .account_details
    {
        margin-bottom: 60px;
    }   

}
@media screen and (max-width:425px)
{
    .user_details #todo_card
    {
        width: 390px;
        margin: 10px auto;
    }
    .account_details
    {
        width: 370px;
        margin: 10px auto;
        margin-bottom: 80px;
    }
    #non_account
    {
        width: 350px;
        margin: 20px auto;
        font-size: .8em;
    }
    .date-filter label
    {
        margin: 50px;
    }
    .date-filter label input
    {
        margin: 15px auto;
    }
}
@media screen and (max-width:375px)
{
    .user_details #todo_card
    {
        width: 350px;
        margin: 10px auto;
    }
    .account_details
    {
        width: 330px;
        margin: 10px auto;
        margin-bottom: 80px;
    }
    .date-filter label
    {
        margin: 30px;
    }
    .date-filter #value
    {
        font-size: 1.4em;
    }
    .form-expense
    {
        font-size: .9em;
    }
    #non_account
    {
        width: 300px;
        margin: 20px auto;
        font-size: .8em;
    }
}
@media screen and (max-width:320px)
{
    .user_details #todo_card
    {
        width: 300px;
        margin: 10px auto;
    }
    .account_details
    {
        width: 280px;
        margin: 10px auto;
        margin-bottom: 80px;
    }
    .date-filter label
    {
        margin: 15px;
    }
}