.todo-login
{
    background: url("../assets/images/fundo_login.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    width: 100%;
    position: absolute;
    max-width: 1920px;
}
.login-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
    line-height: 24px;
    color: #F5F3F3;
    height: 78px;
    background-color: #04018F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 11px 80px;
}
.login-container
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin:200px auto;
    background:rgba(246, 232, 232, 0.8);
    width: 360px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.message
{
    margin: 10px 50px;
}
.form-login
{
    display: flex;
    flex-direction: column;
    margin: 35px auto;
    margin-bottom: 0;
}
.form-login input
{
    width: 220px;
    height: 34px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
}
.form-login button
{
    width: 100px;
    height: 34px;
    background: #779539;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1em;
    line-height: 14px;
    color: #ffffff;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    opacity: 1;
}
.form-login button:hover
{
    opacity: 0.6;
}
.form-login span
{
    margin: 20px auto;
    font-size: 1em;
}
.form-login span u
{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    border-bottom: 1px solid #000000;
}
.form-login span u:hover
{
    color: rgba(100, 100, 100, 0.5);
}
h3
{
    text-align: center;
}
@media screen and (max-width:1366px)
{
    .login-container
    {
        margin:60px auto;
    }
}
@media screen and (max-width:1024px)
{
    .login-container
    {
        margin:70px auto;
    }
}
@media screen and (max-width:768px)
{
    .login-container
    {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 100px;
    }
}
@media screen and (max-width:425px)
{
    .login-container
    {
        width: 300px;
    }
    .form-login span
    {
        margin: 20px 50px;
    }
    .form-login input[name="password"]
    {
        margin-left: 40px;
    }
    .form-login .eye-icon
    {
        margin-left: -75px;
    }
}
@media screen and (max-width:375px)
{
    .form-login span
    {
        margin: 20px auto;
    }
    .form-login input[name="password"]
    {
        margin-left: 0;
    }
    .form-login .eye-icon
    {
        margin-left: -35px;
    }
    
}