*
{
  margin: 0;
  padding: 0;
}
html
{
  min-height: 100%;
  position: relative;
}
body
{
  font-family: 'Ubuntu', sans-serif;
  max-width: 1920px;
  background: #CACACA;
}
.todo-home,.todo-contact, .todo-login, .todo
{
  background: url("./components/assets/images/home-img.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  width: 100%;
  position: absolute;   
  max-width: 1920px;
}
.todo-logged, .todo-profile,.todo-edit
{
  background-image: url("./components/assets/images/fundo_profile.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  width: 100%;
  position: absolute;
  max-width: 1920px;
  background-color: rgba(246, 232, 232, 0.4);
}
