*
{
  margin: 0;
  padding: 0;
}
html
{
  min-height: 100%;
  position: relative;
}
body
{
  font-family: 'Ubuntu', sans-serif;
  max-width: 1440px;
  background: #CACACA;
}
@media screen and (max-width:1366px)
{
  body
  {
      max-width: 1366px;
  }
}
@media screen and (max-width:1024px)
{
  body
  {
      max-width: 1024px;
  }
}
@media screen and (max-width:768px)
{
 body
  {
    max-width: 768px;
  }
}
@media screen and (max-width:425px)
{
  body
  {
    max-width: 425px;
  }
}
@media screen and (max-width:375px)
{
  body
  {
    max-width: 375px;
  }
}
@media screen and (max-width:320px)
{
  body
  {
    max-width: 320px;
  }
}